:root {
  --color-dark: #0b1b2e;
  --color-light: #0f2f54;
  --color-turq: #3ddcff;
  --color-fucs: #d150ff;
  --color-border: #385270;
  --color-placeholder: #617389;

  --color-text: rgba(255, 255, 255, 0.7);
  --text-shadow: 0 0 4px rgb(0 0 0 / 40%);
  --bg-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--color-light);
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.disabled {
  display: none !important;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

p,
div,
span,
input,
select,
option,
button {
  color: var(--color-text);
}
